<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 90vh; width: 100%;">
        <div style="width: 605px; height: 72px; background: #A7CDCC; border-top: 2px solid #000000;">
            <img style="width: 138px; height: 63px; padding: 7px 0px 10px 15px;" src="cid:image">
        </div>
        <div style="width: 545px; height: 450px; padding: 30px; background: #FFFFFF; border-width: 0px 1px; border-style: solid; border-color: #848282;">
            <h1>회원가입 인증문자</h1>
            <div style="margin: 30px 0px 0px 0px;">
                안녕하세요. TripTune 팀입니다.<br><br>
                요청하신 비밀번호 재설정을 위한 본인 확인 메일입니다.<br>
                비밀번호 재설정을 하시려면 아래의 버튼을 클릭해주세요.<br>
            </div>

            <a th:href="${findPasswordURL}" style="text-decoration: none;">
                <button style="width: 222px; height: 56px; font-size: small; border: none; background-color: rgba(94, 165, 163, 0.3); border-radius: 3px; display: flex; justify-content: center; align-items: center; margin: 40px 0px 40px 0px; color: #000000;">
                    비밀번호 재설정
                </button>
            </a>

            <div>
                <span style="color: red;">※ 해당 링크는 발송 후 1시간 동안만 유효합니다.<br><br></span>
                <span>이용해 주셔서 감사합니다.</span>
            </div>
        </div>
        <div style="width: 605px; height: 89px; background: #E8E8E8; display: flex; align-items: center;">
            <span style="padding: 30px; color: #333333;">Copyright © TripTune 2024. All Rights Reserved.</span>
        </div>
    </div>
</body>
</html>
